@using GroceryList.Models;

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>My Grocery List!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
    crossorigin="anonymous">
  <link rel="stylesheet" href="~/css/styles.css">
</head>

<body>
  <main>
    <nav class="mb-2 p-3">
      <a class="btn" href="/">Home</a>
      <a class="btn" href="stores">Grocery Stores</a>
    </nav>
    <div class="container-fluid">
      @RenderBody()
      @* @Html.Partial("Footer") *@
    </div>
  </main>
</body>

</html>
